:root {
    --primary-color: #008080;
    --secondary-color: #c7e9ec;
    --tertiary-color: white;
    /*teal lighten-5* -- teal darken-2 */
}    
/* font-family: 'Berkshire Swash', cursive;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 0.9rem;
}
/* Header Style */
header li a {
    font-size: 1.70vw;
}
nav .brand-logo{
    padding-left: 0.5rem;
    font-family: 'Berkshire Swash', cursive;
}
.content ul li {
    font-size: 2.5vw;
}
/*Hero style */
.hero {
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}   
.hero-animation {
    background-image: url("../images/hero-img.jpg");
    width: 100%;
    min-height: 300px;
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
}
.hero-img {
    width: 7rem;
    height: 11rem;
    margin-right: 1rem;
    border-radius: 15%;
    border: 5px solid rgba(88, 152, 170, 0.1);
}
.hero h4 {
    font-family: 'Berkshire Swash', cursive;
}
#about-me, #work, #contact {
    display: flex;
    padding: 10px;    
    font-size: 1.3rem;
}
.subtitle {
    display: flex;
    border-right: 3px solid;
    width: 35%;
    padding-right: 10px;
    font-size: 45px;
    font-family: 'Berkshire Swash', cursive;
}
.content{
    width: 65%;
    text-align: justify;
    justify-content: space-around;
    margin: 0 10%;
}
/* About me Style */
.content span, .content h6{
    font-weight: bold;
    color: teal;
}
/* My work style */
.content img {
    height: 15rem;
    background-size: cover;
}
.carousel {
    margin-bottom: 10%;
}

/* Contact me style */ 
.footer-content {
    font-size: 1.3rem;
    align-items: flex-end;
}
.footer-content .row{
    margin-bottom: .8rem;
    width: 100%;
}

