:root {
    --primary-color: #008080;
    --secondary-color: #c7e9ec;
    --tertiary-color: white;
}    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
/*Header Style*/
header{
    /*padding: 15px 20px;*/
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    color: var(--tertiary-color);
}
header h1::first-letter {
    font-weight: bold;
    font-size: 40px;
    font-family: serif;
    color: var(--secondary-color);
}
header a{
    text-decoration: none;
    color: var(--tertiary-color);
}
header nav {
    margin: 15px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.50vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*Hero style */
.hero {
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}   
.hero-animation {
    background-image: url("../images/hero-img.jpg");
    width: 100%;
    min-height: 300px;
    background-size: cover;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
    overflow: hidden; 
    justify-content: space-between;
}
.hero-animation::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(183, 209, 216, 0.1), rgba(199, 233, 236, 1));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5;
}
.hero:hover  .hero-animation::after{
    opacity: 1;
}
.hero-animation img {
    background-size: cover;
    width: 150px;
    height: 200px;
    border-radius: 15%;
    border: 5px solid rgba(88, 152, 170, 0.1);
}
.hero-animation h2{
    position: relative;
    z-index: 999;
    font-size: 28px;
    margin-bottom: 5px;
    transition: 0.6;
    color:var(--primary-color);
    align-content: flex-end;
}
/* About me Style */
#about-me, #work, #contact {
    display: flex;
    padding: 15px;    
    justify-content: space-between;
}
.subtitle {
    display: flex;
    border-right: 3px solid;
    width: 35%;
    margin: 0 10%;
    text-align: right;
    padding-right: 10px;
    font-size: 45px;
}
.content{
    display: flex;
    justify-content: left;
    width: 65%;
    position: relative;
}
/* My work style */
.grid-wrapper {
    display: flex;
    width: 65%;
    justify-content: space-between;
}
.grid-container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /*position: relative;*/
}
.grid-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 15px;
    background-color: aquamarine;
}
.grid-item a{
    text-decoration: none;
}
.text-block{
    display: flex;
    flex-direction: column; 
}
.text-block span{
    margin-top: auto;
    width: 100%;
    background-color: #A8ADBA;
    color: #393B4F;
    padding: 10px 5px;
    text-align: center;
}
.item-2 img, .item-3 img, .item-4 img {
    justify-items: center;
    background-size: cover;
    width: 100px;
}
.item-1{
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}
.item-1 img{
    width: 250px;
    justify-items: center;
    background-size: contain;
}


